.App{
  background-color: black;
  display: grid;
  padding: 10px;
  grid-template-areas: 
  'header header header header header header'
  'presets presets presets presets presets presets'  
  'controls artboard artboard artboard artboard artboard'
  'colorinfo colorinfo colorinfo colorinfo colorinfo colorinfo'
  'footer footer footer footer footer footer';
}
.art-container{
  width: 80%;
}
.header{
  background-color: black;
  color: white;
  grid-area: header;
  padding: 10px;
}
.presets-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
  grid-area: presets;
  padding: 0px 0px 30px 0px;
}
.presets-wrap .preset{
  flex-grow: 1;
  flex-wrap: wrap;
} 
.presets-wrap .preset button{
  flex-wrap: wrap;
  width: 94%;
  padding: 5px;
  border: 1px solid gray;
  color: gray;
  background-color: black;
  font-size: 14px;
}
.presets-wrap .preset button:hover{
    border: 1px solid lightgray;
    color: lightgray;
 }
 .presets-wrap .preset button:focus{
    outline: 0;
    border: 1px solid white;
    color: white;
 }
.controls{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: black;
 color: white;
 grid-area: controls;
 font-size: 10px;
 line-height: 12px;
 padding: 10px;
 margin-right: 20px;
}
.artboard{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: black;
  grid-area: artboard;
}
.color-info{
  color: white;
  background-color: black;
  grid-area: colorinfo;
}
.footer{
  color: white;
  background-color: black;
  grid-area: footer;
}
.range-container{
  display: flex;
  flex-direction: row;
}
.range-container label{
  text-transform: uppercase;
}
.color-info{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 12px;
  line-height: 13px;
}
.picture-element{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}
.picture-element h4{
  width: 100px;
}
.color-value{
  min-width: 132px;
  font-size: 10px;
  padding: 0px;
}
.art-container{
  max-width: 600px;
}
.controls h3{
 display: flex;
}
.controls h3 span:first-child{
  margin-top: -3px;
  padding-right: 2px;
  font-size: 36px;
}
.state-data{
  display: none;
  color: white;
  font-size: 12px;
  list-style: none;
}
.range-container span{
  min-width: 20px;
}
/* INPUT RANGE SLIDER STYLES */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 3px;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:  4px; /* 8.4px; */
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: gray; /* #367ebd; */;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff; /* #367ebd; */
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: gray; /* #367ebd; */
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: gray; /* #367ebd; */;
}
input[type=range]:focus::-ms-fill-upper {
  background: gray; /* #367ebd; */;
}